.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    line-height: 60px;
    background-color: #222321;
    text-align: center;
}
li {
    margin: -30px;
    margin-bottom: 0px;
    
}
ul {
    text-align: center;
    list-style-type: none;
}
