.form-control {
    max-width: 350px;
    margin-top: 1%;
    margin-left: 35%;
    margin-bottom: -2%;
}
.formInputs {
    margin-top: 15%;
}

.red-text {
    color: red;
    margin-bottom: 10%;
    margin-left: 1%;
}
.text-center {
    margin-left: 0%;
    margin-top: 3%;
}
.btn {
    margin-left: 35%;
    margin-top: 5%;
    max-width: 350px;
}
.title {
    margin-top: 25%;
    margin-bottom: -10%;
}
h3 {
    padding-top: 0%;
}