#dropdownMenuLink {
    margin-left: 0%;
    margin-top: 2%;
    background-color: #343a40;
    color: #9a9da0;
}
.logo {
    padding: 10px;
    margin-left: 4%;
    
}
.Navbar {
    background-color: #222321;
}
.nameText {
    color: rgb(128, 128, 128);
    margin-left: 35%;
}
ul {
    margin-right: 5%;
}
